/* .mobileNav{
    display: none !important;
}

@media screen and (max-width: 780px) {
    .nav {
        display:none !important
    }
    .mobileNav {
        display: contents;
    }
    } */