.nav a {
  text-decoration: none;
  color: inherit;
}
.nav a:hover {
  color: #c80000;
  text-decoration: underline;
}
.logo:hover {
  text-decoration: none !important;
}

.innerNav {
  height: 100px;
}
.search {
  margin-left: auto;
}
.link:hover{
    color: rgb(200, 0, 0); 
    text-decoration: underline;
}