.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.four {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: space-evenly;
  text-align: center;
  min-height: 100vh;
}
.shoe {
 animation: spin 7s linear infinite;
  overflow: visible;
  justify-self: center;
  align-self: center;
  width:50%;
  max-width: 400px;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}
